@import '/styles/theme'

.projects
  padding-top: spacing(8)
  display: grid
  grid-template-columns: 1fr 2fr 3fr
  grid-template-rows: auto

  @include bp-down('md')
    grid-template-columns: 1fr 3fr

.project
  display: contents

  > *
    padding: spacing(8, 2)

  .name, .desc, .image
    border-top: 1px solid palette(misc, divider)

  .date, .icons
    align-self: flex-end

  .name .icon
    margin-top: spacing(2)

  .learnMore
    display: block
    padding: spacing(2, 0)

  .image
    grid-row: span 2

  .date
    font-size: 1rem

  .icons
    display: flex
    align-items: center
    gap: spacing(2)

    i, .pwa
      font-size: 1.25rem

    .icon
      font-size: 1.25rem
      justify-self: flex-end

  .image
    display: flex
    justify-content: center

    img
      width: 100%
      // max-width: 400px
      max-height: 250px
      object-fit: cover
      // filter: grayscale(100%)
    
  @include bp-down('md')

    > *
      padding: spacing(8, 0)

    .desc
      padding-left: spacing(4)

    .image
      grid-column: 2 span
      grid-row: 1 span
      border: none
      padding: 0


.more
  width: 100%
  display: flex
  justify-content: flex-end
  border-top: 1px solid palette(text,primary)
  font-family: map-get($typography, titleFont)
  text-transform: uppse
  font-size: 1.5rem
  font-weight: 700
  padding: spacing(4, 2)

  @include bp-down('md')
    padding: spacing(4, 0)